@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



header{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
}

header .brand{
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

header .brand:hover{
    color: #09a6d4;

}

header .navigation{
    position: relative;
}

header .navigation .navigation-items a{
    position: relative;
    color: #ffffff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
    
   
}



header .navigation .navigation-items a:before{
    content: '';
    position: absolute;
    background: #ffffff;
    width: 3px;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
    
}

header .navigation .navigation-items a:hover:before{
   
    width: 100%;
    background: #000000;

}


.footer-bottom{
    background:  #087393;
    width: 100vw;
    padding: 20px ;
    text-align: center;
    color: white;
    
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
    color: rosybrown;
}
        
.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 140x; 
    height: 110px; 
    margin: 10px; 
}
.footer-content img:hover {
filter: brightness(0.30);}
