@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



header{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
}

header .brand{
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

header .brand:hover{
    color: #09a6d4;

}

header .navigation{
    position: relative;
}

header .navigation .navigation-items a{
    position: relative;
    color: #ffffff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
    
   
}



header .navigation .navigation-items a:before{
    content: '';
    position: absolute;
    background: #ffffff;
    width: 3px;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
    
}

header .navigation .navigation-items a:hover:before{
   
    width: 100%;
    background: #000000;

}


body{
	height: 100vh;
	font-family: "Raleway", sans-serif;
	background: rgb(41,37,96);
background: radial-gradient(circle, rgba(41,37,96,1) 0%, rgba(74,51,103,1) 98%);
  
}
    h4 {
        font-size: 40px;
         text-align:center;
         font-family:Georgia ,serif;
         color: white;
        }
        h3 {
            font-size: 70px;
            text-align:center;
          
            }
	
           
.container{
	margin: 30px;}

.row{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;}
 
    .image{
        background:rgb(40, 42, 46);
        position: relative;
        flex: 1;
        max-width: 460px;
        height: 300px;
        margin: 20px;
        object-fit: cover;
        overflow: hidden;}
    
    .image img{
        opacity: 0.8;
        position: relative;
        vertical-align: top;
        transition: 0.6s;
        transition-property: opacity;}
    
    .image:hover img{
       
        opacity: 1;}
    
    .image .details{
        z-index: 1;
        position: absolute;
        top: 0;
        right: 0;
        color: #fff;
        width: 100%;
        height: 100%;}
    
    .image .details h2{
        text-align: center;
        font-size: 35px;
        text-transform: uppercase;
        font-weight: 300;
        margin-top: 70px;
        transition: 0.4s;
        transition-property: transform;
        font-family: 'Courier New', monospace;}
    
    .image .details h2 span{
        font-weight: 900;
        font-family:Georgia , serif;}
    
    .image:hover .details h2{
        transform: translateY(-30px);
        }
    
    .image .details p{
        margin: 30px 30px 0 30px;
        font-size: 15px;
        font-weight: 600;
        text-align: center;
        opacity: 0;
        transition: 0.6s;
        transition-property: opacity, transform;
        font-family: Georgia, serif;
        color: rgb(255, 245, 248, 0.949);
        background: #1d222a94;
        direction: rtl;
   
        }
        .image:hover .details p{
            opacity: 1;
            transform: translateY(-40px);
            direction: rtl;
        }
    
    
    .more{
        position: absolute;
        background: rgba(255, 255, 255, 0.8);
        width: 100%;
        display: flex;
        padding: 15px;
        bottom: -60px;
        transition: 0.6s;}
    
    .image:hover .more{
        bottom: 0;}
     
.more .icon-links i{
	color: #000;
	font-size: 20px;}
  
    

.footer-bottom{
    background:#6c4f78;
     width: 100vw;
     padding: 20px ;
     text-align: center;
     color: white;
     
 }
 
 .footer-bottom p{
     font-size: 14px;
     word-spacing: 2px;
     text-transform: capitalize;
 }
 .footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
    color: rosybrown;
 }
         
 .footer-content {
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .image-container img {
     width: 140x; 
     height: 110px; 
     margin: 10px; 
 }
 .footer-content img:hover {
 filter: brightness(0.30);}